script(type="text/x-template")#skills-list
  .advantages__content
    ul.skill-set
      li.skill-set__item
        .skill-group
          .skill-group__title Front-end
          .skill-group__content
            ul.skills__list
              li.skills__item
                .skill
                  svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                    defs.defs
                      linearGradient(x1="0%" y1="50%" x2="100%" y2="100%")#skill-gradient
                        stop(offset="60%" stop-color="#d0731b").skill__fill--start
                        stop(offset="100%" stop-color="#dc9322").skill__fill--end
                    circle(cx="100" cy="100" r="95").skill__circle.skill__circle--under
                    circle(cx="100" cy="100" r="95" stroke-dasharray="150 450" stroke="url(#skill-gradient)" transform="rotate(-180 100 100)").skill__circle.skill__circle--above
                  .skill__title HTML5
              li.skills__item
                .skill
                  svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                    defs.defs
                      linearGradient(x1="0%" y1="50%" x2="100%" y2="100%")#skill-gradient
                        stop(offset="60%" stop-color="#d0731b").skill__fill--start
                        stop(offset="100%" stop-color="#dc9322").skill__fill--end
                    circle(cx="100" cy="100" r="95").skill__circle.skill__circle--under
                    circle(cx="100" cy="100" r="95" stroke-dasharray="100 500" stroke="url(#skill-gradient)" transform="rotate(-180 100 100)").skill__circle.skill__circle--above
                  .skill__title CSS3
              li.skills__item
                .skill
                  svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                    defs.defs
                      linearGradient(x1="0%" y1="50%" x2="100%" y2="100%")#skill-gradient
                        stop(offset="60%" stop-color="#d0731b").skill__fill--start
                        stop(offset="100%" stop-color="#dc9322").skill__fill--end
                    circle(cx="100" cy="100" r="95").skill__circle.skill__circle--under
                    circle(cx="100" cy="100" r="95" stroke-dasharray="450" stroke="url(#skill-gradient)" transform="rotate(-180 100 100)").skill__circle.skill__circle--above
                  .skill__title Javascript
              li.skills__item
                .skill
                  svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                    defs.defs
                      linearGradient(x1="0%" y1="50%" x2="100%" y2="100%")#skill-gradient
                        stop(offset="60%" stop-color="#d0731b").skill__fill--start
                        stop(offset="100%" stop-color="#dc9322").skill__fill--end
                    circle(cx="100" cy="100" r="95").skill__circle.skill__circle--under
                    circle(cx="100" cy="100" r="95" stroke-dasharray="150 450" stroke="url(#skill-gradient)" transform="rotate(-180 100 100)").skill__circle.skill__circle--above
                  .skill__title  Jquery и Vue.js  
      li.skill-set__item
        .skill-group
          .skill-group__title Workflow
          .skill-group__content
            ul.skills__list
              li.skills__item
                .skill
                  svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                    defs.defs
                      linearGradient(x1="0%" y1="50%" x2="100%" y2="100%")#skill-gradient
                        stop(offset="60%" stop-color="#d0731b").skill__fill--start
                        stop(offset="100%" stop-color="#dc9322").skill__fill--end
                    circle(cx="100" cy="100" r="95").skill__circle.skill__circle--under
                    circle(cx="100" cy="100" r="95" stroke-dasharray="100 500" stroke="url(#skill-gradient)" transform="rotate(-180 100 100)").skill__circle.skill__circle--above
                  .skill__title GIT
              li.skills__item
                .skill
                  svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                    defs.defs
                      linearGradient(x1="0%" y1="50%" x2="100%" y2="100%")#skill-gradient
                        stop(offset="60%" stop-color="#d0731b").skill__fill--start
                        stop(offset="100%" stop-color="#dc9322").skill__fill--end
                    circle(cx="100" cy="100" r="95").skill__circle.skill__circle--under
                    circle(cx="100" cy="100" r="95" stroke-dasharray="150 450" stroke="url(#skill-gradient)" transform="rotate(-180 100 100)").skill__circle.skill__circle--above
                  .skill__title Terminal
              li.skills__item
                .skill
                  svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                    defs.defs
                      linearGradient(x1="0%" y1="50%" x2="100%" y2="100%")#skill-gradient
                        stop(offset="60%" stop-color="#d0731b").skill__fill--start
                        stop(offset="100%" stop-color="#dc9322").skill__fill--end
                    circle(cx="100" cy="100" r="95").skill__circle.skill__circle--under
                    circle(cx="100" cy="100" r="95" stroke-dasharray="300 300" stroke="url(#skill-gradient)" transform="rotate(-180 100 100)").skill__circle.skill__circle--above
                  .skill__title Gulp
              li.skills__item
                .skill
                  svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                    defs.defs
                      linearGradient(x1="0%" y1="50%" x2="100%" y2="100%")#skill-gradient
                        stop(offset="60%" stop-color="#d0731b").skill__fill--start
                        stop(offset="100%" stop-color="#dc9322").skill__fill--end
                    circle(cx="100" cy="100" r="95").skill__circle.skill__circle--under
                    circle(cx="100" cy="100" r="95"  stroke-dasharray="225 375" stroke="url(#skill-gradient)" transform="rotate(-180 100 100)").skill__circle.skill__circle--above
                  .skill__title Webpack  

script(type="text/x-template")#skills-group


script(type="text/x-template")#skill                   