    
    main.content 
      .container.about
        .about__info
          h2.section__title Блок "Обо мне"
          button.add__btn Добавить группу
        .about__section
          form.form.about__form
            .form__title 
              input(name="name" value="Название новой группы").about__form-title
              .form__buttons
                button(name="add").form__add-btn
                button(name="remove").form__remove-btn
              br.form-slicer
              .form__content
              .form__controls  
      

  