include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    //- p Привет
    //- .wrapper
    //-   .maincontent
    //-     +image('content/user.jpg', 'user-pic')
    //-     +icon('link', 'link-class')
    //-     .icon-bg
    //-     h1 УРА                
    .wrapper
        
      .welcome
        .hamburger
          nav.hamburger-menu
            button.btn-hamb--cross
              .hamburger-menu__btn--cross
            ul.hamburger-menu__list
              li.hamburger-menu__item 
                a(href="#").hamburger-menu__link Главная
              li.hamburger-menu__item 
                a(href="#").hamburger-menu__link Обо мне
              li.hamburger-menu__item 
                a(href="#").hamburger-menu__link Навыки
              li.hamburger-menu__item 
                a(href="#").hamburger-menu__link Работы
              li.hamburger-menu__item 
                a(href="#").hamburger-menu__link Отзывы
              li.hamburger-menu__item 
                a(href="#").hamburger-menu__link Связаться
          .social.social--hamburger
            ul.social__list
              li.social__item.social--hamburger
                a.social__link(href="#")
                  +icon('insta', 'social__icon') 
              li.social__item
                a.social__link(href="#")
                  +icon('vk', 'social__icon') 
              li.social__item
                a.social__link(href="#")
                  +icon('github', 'social__icon') 
      
        .container
          
          section.parallax
            .parallax__item(data-speed = '0.1')
              +image('content/parallax1.png', 'parallax-img')
            .parallax__item(data-speed = '0.25')
              +image('content/parallax2.png', 'parallax-img')
            .parallax__item(data-speed = '0.35')
              +image('content/parallax3.png', 'parallax-img')
            .parallax__item(data-speed = '0.4')
              +image('content/parallax4.png', 'parallax-img')
            .parallax__item(data-speed = '0')
              +image('content/parallax5.png', 'parallax-img')
            .parallax__item(data-speed = '0')
              +image('content/p6.png', 'parallax-img')
          
              
          section.main-page
            header.main-page__header
              a(href="#").logo KO
              .main-page__menu
                nav.header__menu
                  ul.header-menu__list
                    li.header-menu__item 
                      a(href="#").header-menu__link Главная
                    li.header-menu__item 
                      a(href="#").header-menu__link Обо мне
                    li.header-menu__item 
                      a(href="#").header-menu__link Навыки
                    li.header-menu__item 
                      a(href="#").header-menu__link Работы
                    li.header-menu__item 
                      a(href="#").header-menu__link Отзывы
                    li.header-menu__item 
                      a(href="#").header-menu__link Связаться
              .social
                ul.social__list
                  li.social__item
                    a.social__link(href="#")
                      +icon('insta', 'social__icon') 
                  li.social__item
                    a.social__link(href="#")
                      +icon('vk', 'social__icon') 
                  li.social__item
                    a.social__link(href="#")
                      +icon('github', 'social__icon') 
              button.btn-hamb
                .hamburger-menu__btn
                
            .main-page__content
              .main-page__user
                .main-page__user-subtitle Личный сайт<br> веб разработчика
                .main-page__user-title Олег<br> Котов
            .main-page__buttons
              button(type="button").scroll-btn Скролл
              
          section.about
            .container--about
              .about-left
                .about-left__content
                  .user-photo
                    .photo
                      +image('content/user.jpg', 'photo__img')
                  .user-data
                    .user-data__desc
                      .user-data__char
                        .user-data__item-char Проживаю:
                        .user-data__item-char Возраст:
                        .user-data__item-char Родился:
                      .user-data__val
                        .user-data__item-val Белгород
                        .user-data__item-val 48 лет
                        .user-data__item-val 13 апреля 1972
              .about-right
                .about-right__hey Привет меня зовут
                .about-right__title Олег Котов
                .about-right__my-favorite Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about-right__desc Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                
      section.advantages
        .advantages__bg
        .container
          .advantages__container
            .advantages__title
              .advantages__title-text Чем я могу быть полезен вам
              .advantages__title-subtext Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
           
            #skills-component  
           
      //- works      
      section.work
        .container
          .work__title Мои работы
          .work__content
            
            #slider-component  
            
      section.low
        section.review(@click="checkArrows" @touchend="checkArrows")
          .leaf1
            +image('content/leaf4.png', 'leaf1__img')
          .leaf2
            +image('content/leaf1.png', 'leaf2__img')
          .leaf3
            +image('content/leaf3.png', 'leaf3__img')
          .leaf4
            +image('content/leaf2.png', 'leaf4__img')
          .container
            .review__header
              .review__title Что обо мне говорят
              .review__buttons
                button(@click="previous()" :disabled="true").direct-btn.direct-btn--left
                  +icon('arrow-down', 'direct-icon--prev')
                button(@click="next()" :disabled="false").direct-btn.direct-btn--right
                  +icon('arrow-down', 'direct-icon')
            flickity(ref="flickity" :options="flickityOptions").review__slider
              //- .review__list
              .review__item
                .review__quote
                .review__info
                  .review__text
                    p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                  .review__author
                    .review__avatar
                      .photo
                        +image('content/dk.jpg', 'photo__img')
                    .review__author-desc    
                      .review__author-name Ковальчук Дмитрий
                      .review__author-occup Основатель Loftschool
              .review__item
                .review__quote
                .review__info
                  .review__text
                    p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                  .review__author
                    .review__avatar
                      .photo
                        +image('content/sv.jpg', 'photo__img')
                    .review__author-desc    
                      .review__author-name Владимир Сабанцев
                      .review__author-occup Преподаватель
              .review__item
                .review__quote
                .review__info
                  .review__text
                    p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                  .review__author
                    .review__avatar
                      .photo
                        +image('content/sv.jpg', 'photo__img')
                    .review__author-desc    
                      .review__author-name Владимир Сабанцев
                      .review__author-occup Преподаватель
              .review__item
                .review__quote
                .review__info
                  .review__text
                    p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                  .review__author
                    .review__avatar
                      .photo
                        +image('content/dk.jpg', 'photo__img')
                    .review__author-desc    
                      .review__author-name Ковальчук Дмитрий
                      .review__author-occup Основатель Loftschool        
                //- .review__item
                //-   .review__quote
                //-   .review__info
                //-     .review__text
                //-       p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                //-     .review__author
                //-       .review__avatar
                //-         .photo
                //-           +image('content/sv.jpg', 'photo__img')
                //-       .review__author-desc    
                //-         .review__author-name Владимир Сабанцев
                //-         .review__author-occup Преподаватель
              


        section.feedback
          .container
            .feedback__title Cвязаться со мной
            .form__wrapper
              form(action).form__content
                .form__row.form__row--one
                  label.form__label
                    span.form__label-title Введите ваше имя
                    input.form__input(type="text" placeholder="Ковальчук Дмитрий" name="name")
                  label.form__label-email
                    span.form__label-title Ввведите ваше email
                    input.form__input(type="text" placeholder="loftschool@study.com" name="email")
                .form__row
                  label.form__label-message
                    span.form__label-title Сообщение к письму
                    textarea(placeholder="Требуется ваша помощь в создании сайта.\nИнтересуют сроки и цена вопроса" rows="3" name="comment").form__textarea.form__input
                .form__row
                  input(type="submit" value="Отправить").feedback__btn
      section.footer
        .container.container-footer
          .footer-left
            .copyright © 2019
            .user-info 
              .user-info__name
                p олег
                p котов
              .user-info__desc
                p Личный сайт 
                p веб-разработчика
          .footer-right
            nav.header__menu.header__menu--footer
              ul.header-menu__list
                li.header-menu__item 
                  a.header-menu__link Главная
                li.header-menu__item 
                  a.header-menu__link Обо мне
                li.header-menu__item 
                  a.header-menu__link Навыки
                li.header-menu__item 
                  a.header-menu__link Работы
                li.header-menu__item 
                  a.header-menu__link Отзывы
                li.header-menu__item 
                  a.header-menu__link Связаться
            .footer-info
              .footer-info__left
                .footer-info__left-text
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                .social.social--footer
                  ul.social__list.social__list--footer
                    li.social__item.social__item--footer
                      a.social__link(href="#")
                        +icon('insta', 'social__icon')
                    li.social__item.social__item--footer
                      a.social__link(href="#")
                        +icon('vk', 'social__icon') 
                    li.social__item.social__item--footer
                      a.social__link(href="#")
                        +icon('github', 'social__icon')
              .footer-info__right
                .footer-quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                .footer-quote-autor Martin Golding
    include ./entry.pug